body {
  margin: 0;  
  background-color: #0b1120; 
  color: #ffffff;
}

.app-container {
  display: flex;
  flex-direction: row;   
  max-width: 1200px;
  margin: 0 auto;
  min-height: 555px;
  padding: 40px 20px;
  align-items: stretch; 
}

.mobile-balance {
  display: none; 
  margin-bottom: 16px;  
}

@media (max-width: 900px) {
  .app-container {
    flex-direction: column-reverse;     
    gap: 20px;    
  }
  .mobile-balance {
    display:block;     
  }
}